body {
  margin: 0;
  height: 100vh;
  display: flex;
}

div {
  width: 200px;
  height: 200px;
  background-color: red;
  margin: auto;
  box-sizing: border-box;
}

.selected {
  background-color: yellow;
  transition: 2s;
  animation: 2s scale infinite alternate;
}

.selected:hover {
  border: 1px solid black;
}

@keyframes scale {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(2);
  }
}
